.tabContainer{
    width: 500px;
    margin: 15px auto;
    padding: 10px;
    display: flex;
}

.tabContainer > div{
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}

.tabContainer > div:hover{
    background-color: aqua;
    cursor: pointer;
}

.tabContent{
    min-height: 450px;
    background-color: lightseagreen;
    font-weight: bold;
    padding: 50px;    
}