<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-text">
      1-48 of over 60,000 results for <span>"toys"</span>
    </span>
  </div>
  
    <select class="form-select" aria-label="Default select example">
      <option selected>Sort by: Featured</option>
      <option value="1">Price: Low to High</option>
      <option value="2">Price: High to Low</option>
      <option value="3">Avg: Customer Review</option>
      <option value="4">Newest Arrivals</option>
      <option value="5">Best sellers</option>
    </select>
  
  
</nav>


<div class="pDetailsBlock">
    
    <div class="border-end pe-2 me-2">
      <button class="btn btn-primary" onclick="applyProductsFilter()">Apply</button>
      <ul>
        <li>
          <input type="checkbox" value="Shoes & Footwear" name="productCategory">Shoes & Footwear 
        </li>
        <li>
          <input type="checkbox" value="Shoes" name="productCategory">Shoes 
        <li>
          <input type="checkbox" value="Books" name="productCategory">Books 
        </li>
        <li>
          <input type="checkbox" value="electronics" name="productCategory">Electronics 
        </li>
        <li>
          <input type="checkbox" value="kids" name="productCategory">Kids 
        </li>
        <li>
          <input type="checkbox" value="Clothing & Accessories" name="productCategory">Clothing & Accessories 
        </li>
        <li>
          <input type="checkbox" value="Clothing & Accessories" name="productCategory">Clothing & Accessories 
        </li>
        <li>
          <input type="checkbox" value="Accessories" name="productCategory">Accessories 
        </li>
        
      </ul>
<h4 class="subHead">Delivery Day</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Get Today" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Get It Today
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Get Tomorrow" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Get It By Tomorrow
            </label>
          </div>
          <h4 class="subHead mt-2">Customer Reviews</h4>
            <div class="starContainer">
                <div class="fullStar"></div>
                <div class="fullStar"></div>
                <div class="fullStar"></div>
                <div class="halfStar"></div>
                <div class="disableStar"></div>
            </div>
          <h4 class="subHead mt-2 mb-1">Deals & Discounts</h4>
          <p class="mb-2">All Discounts</p>
            <h4 class="subHead mb-1">Item Condition</h4>
         <p  class="mb-2">New</p>
          <h4 class="subHead">Price</h4>
          <label for="customRange2" class="form-label">₹100 - ₹1000</label>
          <input type="range" class="form-range" min="100" max="1000" id="customRange2">
          <h4 class="subHead">Pay On Delivery</h4>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Pay On Delivery" id="payDelivery">
              <label class="form-check-label" for="payDelivery">
                Eligible for Pay On Delivery
              </label>
            </div>
          <h4 class="subHead">Discount</h4>
          <ul class="p-0">
            <li>10% Off or more</li>
            <li>25% Off or more</li>
            <li>35% Off or more</li>
            <li>50% Off or more</li>
            <li>60% Off or more</li>
            <li>70% Off or more</li>
          </ul>
          <h4 class="subHead">Availability</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Out of Stock" id="outStock">
            <label class="form-check-label" for="outStock">
                Include Out of Stock
            </label>
          </div>
    </div>
    <div class ="right_prod">
      <div class="banner">
        <div class="p-2">
          <img src = "https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/da781ef8-b1b2-4636-986a-bd0610ecd828._CR9,8,572,570_AC_SX130_SY60_QL70_.png"></a>
        </div>
        <p class="adver">galactic deals : LEGO new sets awakens!</p>
        <a style = "font-size: small" class = "adver" href="https://www.amazon.in/stores/page/BEC7D16F-EEA0-4A2D-A227-58D65C5F980A/?_encoding=UTF8&store_ref=SB_A08146121XS8YZTX4Q0YC-A01973572MQ768PNJJW8Q&pd_rd_plhdr=t&aaxitk=54ac3008d3e060dc94ac98e0c11502ea&hsa_cr_id=0&lp_asins=B0CWH31PZ6%2CB0CFW15ZKK%2CB0CWH3FX32&lp_query=toys&lp_slot=auto-sparkle-hsa-tetris&ref_=sbx_be_s_sparkle_lsi4d_cta&pd_rd_w=USgu2&content-id=amzn1.sym.df9fe057-524b-4172-ac34-9a1b3c4e647d%3Aamzn1.sym.df9fe057-524b-4172-ac34-9a1b3c4e647d&pf_rd_p=df9fe057-524b-4172-ac34-9a1b3c4e647d&pf_rd_r=AKZQYX7YNYEPFQQ27M6J&pd_rd_wg=9O5ZJ&pd_rd_r=c79475bd-b44c-46f6-9f11-e437115d0982">Shop LEGO</a>
      </div>
      
      
      <div id="productDetailsBlock">
    
      </div>
    </div>
</div>



