.navbar-brand img {
  width: 200px !important;
  height: 50px !important;
}
.navbar .container-fluid{
  background-color: #F5F7F8;
}

/* login CSS start */
.modal-content{
  background-color: rgba(30, 29, 29, 0.724);
  color: #f5f8f7;
}

.modal-header{
  flex-direction: column-reverse;
  font-family: cursive;
  font-weight: 1000;
}
.loginDetailsList {
    margin: 10px;
    padding: 10px;

}
.form-control{
  background-color: #c7bfbf5e;
  border-radius: 1.375rem;
}

.form-control:focus{
  box-shadow: 0 0 0 .25rem rgba(176, 235, 240, 0.331);
  border-color: rgb(176, 235, 240);
}

.loginDetailsList li {
    font-weight: bolder;
    font-family: sans-serif;
    list-style:  none;
    margin: 10px;
    padding: 10px;
}

#captcha{
width: 110px;
height: 34px;
float: left;
position: absolute;
top: 390px;
left: 100px;
border-radius: 12px;
background-image: linear-gradient(rgb(216, 216, 161), rgb(154, 210, 154), rgb(228, 175, 228));
}
#captcha:hover{
border: 2px solid rgb(17, 0, 255);

}
.bi-arrow-clockwise{
position: absolute;
top:390px;
right:81%;
font-size: x-large;
}

#statusMsg {
  color: red;
  text-align: center;
}

/* filters css start here */
.subHead{
color:#0f1111;
font-size:14px;
font-weight: 700;
}
li{
  list-style: none;
}
.starContainer > div {
  background-image: url('../Lib/RatingStarLib/image/ratingStars.PNG');
  width: 20px;
  height: 20px;
  float: left;
}
.halfStar {
  background-position: -22px 0;
}

.disableStar {
  background-position: 18px 0;
}

.starContainer {
  clear: both;
  height: 25px;
}
/* filters css end here */
/*carousel starts here*/

.carousel-item img:active {
max-width: 100%;
height: 200px;
}

.carousel-control-next {
background-color: lightgray;
}
/*carousel ends here*/
/*Grid Start here*/

.offerBlock .row .col{
  border: 1px solid green;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.offerBlock img{
  width: 140px;
  height: 110px;            
  border-radius: 5px;
}
.offerBlock .image{
  background-image: url("../images/imagesSprite.png");
}
.offerBlock span{
  font-size: 12px;
}
.fisrtRow{
  margin-top: 20px;
}
.airImage{
  background-position: -695px -40px;
}
.refrImg{
  background-position: -450px -185px;
}
.microImg{
  background-position: 445px -180px;
}
.washImg{
  background-position: -460px -40px;
}
.boatImg{
  background-position: -40px -35px;
}
.boultImg{
  background-position: -240px -35px;
}
.noiseImg{
  background-position: -35px -180px;
}
.zebroImg{
  background-position: -235px -180px;
}
.vaseImg{
  background-position: -245px 285px;
}
.storageImg{
  background-position: -50px 145px;
}
.lightImg{
  background-position: -245px 135px;
}
.sheetImg{
  background-position: -40px 275px;
}
.helImg{
  background-position: -465px 150px;
}
.tyreImg{
  background-position: 445px 280px;
}
.cleanAccImg{
  background-position: -445px 280px;
}
.vaccImg{
  background-position: 410px 145px;
}

/*Grid Ends here*/
/*Footer section*/
footer.py-5 {
  background-color: #9da9b4;
  color: white;
  font-weight: bold;
  font-size: small;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}


#productDetailsBlock {
  display: flex;
  flex-wrap: wrap;
}

#productDetailsBlock .singleproductData {
  width: 300px;
  margin: 10px;
}

.singleproductData img {
  width: 100%;
  height: 180px;
}

#logoutUserBtn {
  display: none;
}

.cartItemDetails img {
  width: 150px;
  height: 160px;
  border: 2px solid yellow;
  margin: 5px;
  padding: 10px;
}